{{>header}}
{{>nav}}
<section class="container my-5">
    <h3 class="text-muted">  Deposit </h3>
<form method="post">
    <div class="mb-3 ">
        <input name="deposit" placeholder="deposit" class="form-control" type="number">
    </div>
      <div class="mb-3">
        <input type="submit" value="Add User" class="btn btn-dark">
    </div> 
</form>

</section>

{{>footer}}